body {
    color: rgb(10, 10, 10) !important;   
    background-color: #F9EFDB !important;
    font-family: Helvetica, Arial, sans-serif !important;
    font-size: 17px !important;
    text-align: left; !important;
}

h1, h2, h3{
	text-align: left;
	color: rgb(10, 10, 10);
	margin: 10px;
}

h1{
	 
	font-size: 48px;
}

h2{
	font-size: 24px;
	font-weight: lighter;
}

h3{
	font-size: 12px;
}

a{
	color: #2C7865 !important;
	transition: color 0.3s ease;

}

a:hover{
	color: #FF9800 !important;
	text-decoration: none;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 800

.eb-garamond-<uniquifier> {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <400>;
  font-style: normal;
}



div{                       
	padding: 10px;                           
	border-radius: 4px;                    
}

.hello{
	text-align: center;
	padding: 50px;
}

.perfect-circle img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.d-grid .btn{
	text-align: center;
	background-color: #F9EFDB ;
	border: none;
	color: black;
}

.header{
  height: 10vh; 
  display: flex;
  justify-content: center;
  align-items: center; 
}
